torch==1.12.0
numpy
torchvision==0.13.0
tensorboard
pandas==1.2.4
matplotlib==3.4.1
ruamel.yaml==0.17.4
gym[atari]==0.18.0
moviepy==1.0.3
einops==0.3.0
dm_control==1.0.3
dm_tree==0.1.5
dm_env==1.4

wandb
kornia