ray[rllib]==1.13.0
torch==1.12.0
numpy
torchvision==0.13.0
tensorboard==2.9.1
pandas==1.2.4
matplotlib==3.4.1
ruamel.yaml==0.17.4
gym[atari]==0.18.0
moviepy==1.0.3
einops==0.3.0
dm_control==1.0.4
dm_tree==0.1.5
dm_env==1.4

wandb
kornia==0.6.6
distracting-control==0.1.1rc3
protobuf==3.20.0